!!!!!!!!!!!!!!!!!!!!!!!!
! snazzy color  scheme !
!!!!!!!!!!!!!!!!!!!!!!!!

*background: #282a36
*foreground: #eff0eb

! original #86a2b0
*colorUL: #eff0eb
*underlineColor: #eff0eb

! black
*color0  : #2E3436
*color8  : #686868

! red
*color1  : #ff5c57
*color9  : #ff5c57

! green
*color2  : #5af78e
*color10 : #5af78e

! yellow
*color3  : #f3f99d
*color11 : #f3f99d

! blue
*color4  : #57c7ff
*color12 : #57c7ff

! magenta
*color5  : #ff6ac1
*color13 : #ff6ac1

! cyan
*color6  : #9aedfe
*color14 : #9aedfe

! white
*color7  : #f1f1f0
*color15 : #eff0eb

XTerm.vt100.renderFont: true
XTerm.vt100.faceName:	Inconsolata for Powerline:size=8
